<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>SIGN UP USER PAGE</h1>
    <form action="/sign-up-user/" style="margin-top: 20px;">
        SURNAME: <input type="text" name="user_surname"><br>
        FIRST NAME: <input type="text" name="user_first_name"><br>
        PATRONYMIC: <input type="text" name="user_patronymic"><br>
        UNIVERSITY: <input type="text" name="user_university"><br>
        YOUR ID: <input type="text" name="user_id"><br>
        CERTIFICATE ID: <input type="text" name="certificate_id"><br>
        <input type="submit" value="SIGN UP" />
    </form>
</body>
</html>